* {
  box-sizing: border-box;
}

/* SECTIONS */

header, body {
padding: 5px;
}

/* TYPOGRAPHY */

h1, h2, label, button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-align: center;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

/* BUTTONS */

button {
  font-size: 18px;

}

/* CLASSES */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  flex: 1;
  margin: auto;
}